<% for(var i = 0; i < users.length; i++) { %>
<tr>
    
    <td><%= users[i].name %></td>
    <td><%= users[i].type %></td>
    <td><%= users[i].sname %></td>
    <td><%= users[i].saddr %></td>
    <td><%= users[i].desc %></td>
    <td><%= users[i].colors %></td>
    <td><%= users[i].price %></td>
    <td><%= users[i].dimensions %></td>
    <td><%= users[i].warranty %></td>
    <td><%= users[i].weight %></td>
    <td><%= users[i].model %></td>
    <td><%= users[i].connection %></td>
    <td>

        <a href="/update-user?id=<%= users[i]._id%>" class="update btn">
            <span style="color: green; font-weight: bolder;">Edit</span>
        </a>
        <br>
        <a href="#" class="update btn " data-id=<%= users[i]._id%> >
            <span style="color: red; font-weight: bolder;">Delete</span>
        </a> 
    </td>
</tr>
<% } %>